[submodule "ready-for-pusht/fract-ol"]
	path = ready-for-pusht/fract-ol
	url = git@github.com:Improvenss/fract-ol.git
[submodule "ready-for-pusht/ft_printf"]
	path = ready-for-pusht/ft_printf
	url = git@github.com:Improvenss/ft_printf.git
