[submodule "ready-for-pusht/fract-ol"]
	path = ready-for-pusht/fract-ol
	url = git@github.com:Improvenss/fract-ol.git
[submodule "ready-for-pusht/ft_printf"]
	path = ready-for-pusht/ft_printf
	url = git@github.com:Improvenss/ft_printf.git
[submodule "ready-for-pusht/get_next_line"]
	path = ready-for-pusht/get_next_line
	url = git@github.com:Improvenss/get_next_line.git
[submodule "ready-for-pusht/libft"]
	path = ready-for-pusht/libft
	url = git@github.com:Improvenss/libft.git
[submodule "ready-for-pusht/minitalk"]
	path = ready-for-pusht/minitalk
	url = git@github.com:Improvenss/minitalk.git
[submodule "projes/main/libraries"]
	path = projes/main/libraries
	url = git@github.com:Improvenss/libraries.git
[submodule "ready-for-pusht/push_swap"]
	path = ready-for-pusht/push_swap
	url = git@github.com:Improvenss/push_swap.git
[submodule "projes/main/makefiles"]
	path = projes/main/makefiles
	url = git@github.com:Improvenss/makefiles.git
[submodule "projes/main/cpp_modules"]
	path = projes/main/11cpp_modules
	url = git@github.com:Improvenss/cpp_modules.git
[submodule "ready-for-pusht/minishell"]
	path = ready-for-pusht/minishell
	url = git@github.com:Improvenss/minishell.git
[submodule "ready-for-pusht/net_practice"]
	path = ready-for-pusht/net_practice
	url = git@github.com:Improvenss/net_practice.git
[submodule "ready-for-pusht/philosophers"]
	path = ready-for-pusht/philosophers
	url = git@github.com:Improvenss/philosophers.git
