[submodule "ready-for-pusht/fract-ol"]
	path = ready-for-pusht/fract-ol
	url = git@github.com:Improvenss/fract-ol.git
[submodule "ready-for-pusht/ft_printf"]
	path = ready-for-pusht/ft_printf
	url = git@github.com:Improvenss/ft_printf.git
[submodule "ready-for-pusht/get_next_line"]
	path = ready-for-pusht/get_next_line
	url = git@github.com:Improvenss/get_next_line.git
[submodule "ready-for-pusht/libft"]
	path = ready-for-pusht/libft
	url = git@github.com:Improvenss/libft.git
[submodule "ready-for-pusht/minitalk"]
	path = ready-for-pusht/minitalk
	url = git@github.com:Improvenss/minitalk.git
